<div class="form-horizontal row-fluid">
    <div class="alert alert-error hide" id="description-alert"></div>
    <div class="alert alert-error hide task-list-alert"></div>

    <div class="control-group">
        <label class="control-label" for="description-input">Description</label>
        <div class="controls">
            <input type="text" id="desciprion-input" name="description"
                   placeholder="job description" class="input-xxlarge" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Tasks</label>
        <div class="controls">
            <div class="btn add-task-button">Add New Task</div>
            <ul class="task-list"></ul>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="btn cancel-button">Cancel</div>
            <div class="btn btn-primary submit-button">Submit Job</div>
        </div>
    </div>
</div>