<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Task Editor</h3>
</div>
<div class="modal-body">
    <div class="alert alert-error hide" id="task-type-alert"></div>
    <div class="alert alert-error hide" id="params-alert"></div>
    <div class="form">
        <label for="task-type-input">Task Type</label>
        <textarea id="task-type-input" class="input-xlarge" placeholder="task type"><%= task_type %></textarea>
        <label for="params-input">Parameters (JSON)</label>
        <textarea id="params-input" class="input-xlarge" rows="4" placeholder="params"><%= params %></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary done-button">Save Task</button>
</div>
