.message-item {
    padding: 5px 0;
    border-top: 1px solid #e7e6e6;
    cursor: default;
    position: relative;
}
.message-item:hover {
    background-color: #e2f7ff;
}

.message-item .fluid-column-wrapper {
    float: left;
    width: 100%;
}

.message-item .fluid-column {
    margin: 0 0 0 210px;
}

.message-item .left-column {
    width: 200px;
    float: left;
    margin-left: -100%;
}

.message-item .participant {
    float: left;
    text-align: right;
    font-weight: bold;
    width: 100px;
}

.message-item .message {
    float: left;
}

.message-item .time {
    float: left;
    width: 100px;
    text-align: right;
}

.message-item .time .time-link {
    text-decoration: none;
    color: black;
}
.message-item .time .time-link:hover {
    color: #005580;
    text-decoration: underline;
}

.message-item .time .time-link:hover .time-link-icon {
    display: inline-block;
}

.message-item .instances {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: right;
}

.message-item .instances .applied-code {
    float: left;
    margin-right: 10px;
}

.message-item .instances .applied-code span {
    cursor: pointer;
    padding: 0 3px;
    border-radius: 3px;
    background-color: #FFFFB2;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.80);
}

.message-item .instances .applied-code:hover span {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.80);
}

.message-item .instances .applied-code span.highlight {
    color: #eee;
}