.message-item {
    padding: 5px 0;
    border-top: 1px solid #e7e6e6;
    cursor: default;
    position: relative;
}
.message-item:hover {
    background-color: #e2f7ff;
}

.message-item .fluid-column-wrapper {
    float: left;
    width: 100%;
}

.message-item .fluid-column {
    margin: 0 180px 0 110px;
}

.message-item .left-column {
    width: 100px;
    float: left;
    text-align: right;
    margin-left: -100%;
}

.message-item .right-column {
    float: left;
    width: 180px;
    margin-left: -180px;
}

.message-item .participant {
    font-weight: bold;
}

.message-item .message {
    float: left;
}

.message-item .time {

}