#job-monitor-widget ul {
    list-style: none;
    margin: 0;
}

#job-monitor-widget .job {
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

#job-monitor-widget .job:hover {
    border: 1px solid #ccc;
}

#job-monitor-widget .job-header-row {
    margin-bottom: 3px;
}

#job-monitor-widget .job-description {
    font-weight: bold;
}

#job-monitor-widget .job-added {

}

#job-monitor-widget .job-progress .progress {
    margin-bottom: 0px;
}

