@import url("slick.grid.css");
@import url("slick/slick-default-theme.css");

html, body { margin: 0; padding: 0; width: 100%; height: 100%; font-family: Tahoma, Geneva, sans-serif; font-size: 0.9em;}

body { padding-bottom: 10px; }

#chart_container {
    position: relative;
    display: inline-block;

}
#chart {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 800px;
    height: 620px;
    font: 16px sans-serif;
    shape-rendering: crispEdges;
}
#y_axis {
    position: absolute;
    top: 0px;
    bottom: 80px;
    width: 40px;
}

#x_axis {

    bottom: 70px;
    right: 40px;
}

#slider {
    position: absolute;
    bottom: 10px;
    left: 50px;
    right: 50px;
}

.day {
    fill: #fff;
    stroke: #ccc;
}

.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

#tooltip {
    position: absolute;
    border: 1px solid #666;
    background: #000;
    font-size: 14px;
    box-shadow: 1px 1px 5px 3px #000;
    left: -20px;
    top: -20px;
    color: white;
    border-radius: 5px;
    -webkit-transition: width 2s linear 2s;
    -webkit-transition: height 2s linear 2s;
}

#tooltip_hdr {
    font-weight: bold;
    background: #888;
    padding: 2px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}

#tooltip_content {
    padding: 5px 5px;
}

.Grnq0-9{stroke:rgb(247,252,245)}
.Grnq1-9{stroke:rgb(229,245,224)}
.Grnq2-9{stroke:rgb(199,233,192)}
.Grnq3-9{stroke:rgb(161,217,155)}
.Grnq4-9{stroke:rgb(116,196,118)}
.Grnq5-9{stroke:rgb(65,171,93)}
.Grnq6-9{stroke:rgb(35,139,69)}
.Grnq7-9{stroke:rgb(0,109,44)}
.Grnq8-9{stroke:rgb(0,68,27)}


.YlOrRdq0-9{fill:rgb(255,255,204)}
.YlOrRdq1-9{fill:rgb(255,237,160)}
.YlOrRdq2-9{fill:rgb(254,217,118)}
.YlOrRdq3-9{fill:rgb(254,178,76)}
.YlOrRdq4-9{fill:rgb(253,141,60)}
.YlOrRdq5-9{fill:rgb(252,78,42)}
.YlOrRdq6-9{fill:rgb(227,26,28)}
.YlOrRdq7-9{fill:rgb(189,0,38)}
.YlOrRdq8-9{fill:rgb(128,0,38)}

/*
.hasCodes{stroke-width: 2px; stroke:#00F; }
*/

.prbar {

    margin: 0 4px;
    padding: 0;
    border: 1px solid #888;
    background: #444;
    box-shadow: inset 1px 1px 0px 0px #000;
    width: 40px;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    position: relatiive;
}

.prbar_inner {
    margin: 0;
    background: #3c3;
    box-shadow: 1px 1px 1px 0px #000;
    display: block;

    position: relative;
    top: 0px;
    height: 8px;
    border-top: 1px solid #afa;
    border-left: 1px solid #afa;
    border-right: 1px solid #080;
    border-bottom: 1px solid #080;
    border-radius: 2px;
}

rect:hover { z-index: 1000; }


#legend { margin: 10px; box-shadow: 0 0 5px 0px #aaa; background: #f8f8f8; border: 1px solid #aaa; border-radius: 3px; display: inline-block; padding: 10px;}
#legend { font-size: 90%; }
#legend h4 { border-bottom: 2px solid #000; font-size: 100%;}
table.lgnd { margin-left: 10px; }

table.lgnd tr td { min-width: 16px; }
table.lgnd tr td:nth-child(1) { border: 1px solid #000; }
table.lgnd tr td:last-child { text-align: right; }

#stats {
    position: absolute;
    left: 1000px;
    right: 20px;
    top: 20px;
}

#stats div {
    margin-bottom: 20px;
    -webkit-transition: all 0.5s ease;
    border-left: 4px solid transparent;
    padding-left: 2px;
}

#stats div:hover {
    border-left: 4px solid #888;
    -webkit-transition: all 0.5s ease;
}


#stats h1, #stats h2 {
    margin-bottom: 10px;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0px;
}

#stats h1 { font-size: 3em; }
#stats h2 { font-size: 2.25em; }


/* backgrounds */
body { background-color: #eee; padding-bottom: 10px;}
#container, #morestats { background-color: #fff; border: 1px solid #aaa; overflow: hidden;}
#container { height: 620px; box-shadow: 0 0 5px 0 #888; }

#morestats { margin: 20px; margin-left: auto; margin-right: auto;  width: 800px; border-radius: 3px; box-shadow: 0 0 5px 0 #aaa; }

#morestats h1 { border-bottom: 2px solid #aaa; margin-left: 10px; margin-right: 10px;}

#chart svg text:first-child { font-size: 16px; }

.grid { margin: 20px; height: 400px; width: auto;}
