/*
    Document   : test
    Created on : Mar 3, 2012, 1:56:16 PM
    Author     : soco
    Description:
        Purpose of the stylesheet follows.
*/

root {
    display: block;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#rbgrid {
    width: 300px;
    height: 230px;
    /*    border: 1px solid #888;*/
    overflow: hidden;
}

#rbgrid table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    font-family: Tahoma,Geneva,monospace;
    font-size: 12px;
    border: none;
    z-index: -10;
}
#rbgrid td {
    padding: 0;
    margin: 0;
    overflow: visible;
    text-align: center;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

#rbgrid td span {
    opacity: 1;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-shadow: -1px 0px 2px #000, 0px -1px 2px #000, 1px 0px 2px #000, 0px 1px 2px #000, -1px -1px 2px #000, 1px 1px 2px #000, -1px 1px 2px #000, 1px -1px 2px #000;
    position: relative;
}

#rbgrid tr {
    margin: 0;
    padding: 0;
    overflow:hidden;
}
#rbgrid tr th {
    margin: 0px;
    padding: 0px;
    display: hidden;
    opacity: 0;
}

#rbgrid tr th.rbOn {
    opacity: 1;
    right: 265px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

#rbgrid tr th.rbOff {
    opacity: 0;
    right: 300px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: none;
}

#rbgrid tr td:nth-child(2) {
    padding-left: 5px;
    text-align: left;
    margin-right: 0px;
    padding-right: 0px;
}

#rbgrid tr td:last-child {
    text-align: right;
    padding-right: 5px;
    margin-left: 0px;
    padding-left: 0px;
}

#rbgrid tr td:nth-child(3) {
    padding: 0 5px;
}

#rbgrid tr th {
    color: #000;
    display: none;
    position: absolute;
    vertical-align: middle;
    border-radius: 25px;
    font-weight: bolder;
    background-color: #fff;
    z-index: 1;
    padding: 3px 8px;
    border: 1px solid #000;
    margin-top: 4px;
    box-shadow: 1px 1px 7px 0px #000;
    right: 265px;

}

#rbgrid td.selected {
    /*
    text-shadow: -1px 0px 2px #aaa, 0px -1px 2px #aaa, 1px 0px 2px #aaa, 0px 1px 2px #aaa, -1px -1px 2px #aaa, 1px 1px 2px #aaa, -1px 1px 2px #aaa, 1px -1px 2px #aaa;
    */
    box-shadow: inset 0px 0px 2px 4px #333;

    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

#rbgrid td.selected span {
    top: 10px;

    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

#rbgrid td.unselected {
    /*
    text-shadow: -1px 0px 2px #aaa, 0px -1px 2px #aaa, 1px 0px 2px #aaa, 0px 1px 2px #aaa, -1px -1px 2px #aaa, 1px 1px 2px #aaa, -1px 1px 2px #aaa, 1px -1px 2px #aaa;
    */
    top: 0px;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}

#rbgrid td kl {
    opacity: 0;
    display: block;
    position: absolute;
    color: #000;
    border-radius: 25px;
    font-weight: bolder;
    background-color: #fff;
    z-index: 1;
    padding: 3px 8px;
    border: 1px solid #000;
    box-shadow: 1px 1px 7px 0px #000;
    text-shadow: none;
    margin-top: -70px;
    margin-left: 30px;
    visibility: hidden;
}

#rbgrid td kl.on {
    opacity: 1;
    margin-top: -50px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: visible;
}

#rbgrid td kl.off {
    opacity: 0;
    margin-top: -70px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    visibility: hidden;
}

/*
#rbgrid tr:nth-child(1) {
    background-color: #F00;
}

#rbgrid tr:nth-child(2) {
    background-color: #F80;
}

#rbgrid tr:nth-child(3) {
    background-color: #FC0;
}

#rbgrid tr:nth-child(4) {
    background-color: #8F0;
}

#rbgrid tr:nth-child(5) {
    background-color: #0C0;
}

#rbgrid tr:nth-child(6) {
    background-color: #0CF;
}

#rbgrid tr:nth-child(7) {
    background-color: #44C;
}

#rbgrid tr:nth-child(8) {
    background-color: #C0C;
}

#rbgrid td:nth-child(2) {
    background-color: rgba(255,255,255,0.50);
}

#rbgrid td:nth-child(3) {
    background-color: rgba(255,255,255,0.75);
}

#rbgrid td:nth-child(4) {
    background-color: rgba(255,255,255,0.90);
}
*/