<div class="form-inline">
    <% if (cluster) { %>
    Messages from cluster <span class="display-field editable"><%= cluster %></span>
    <% } else if (start) { %>
    Messages on <span class="display-field editable"><%= start %></span>
    <% } else { %>
    Select messages by <span class="display-field editable"></span>
    <% } %>

    <div class="selection-form hide">
        <input class="input-field" type="text" placeholder="cluster id or MySQL datetime"
               title="Cluster ID or MySQL DateTime (YYYY-MM-DD HH:mm:ss)"/>
    </div>

    <div class="load-all-box hide">
        Showing <span class="showing-count"></span>
        of <span class="total-count"></span>
        in this <span class="selection-type"></span>
        <button class="btn load-all-button">Load All</button>
    </div>
</div>