<div class="form-inline">
    <% if (cluster) { %>
    Messages from cluster <%= cluster %> <span class="btn edit-button">Change</span>
    <% } else if (start) { %>
    Messages on <%= start %> <span class="btn edit-button">Change</span>
    <% } else { %>
    Please select some messages
    <% } %>

    <div class="selection-form hide">
        by cluster id
        <input class="cluster-id-input" type="text" placeholder="cluster id"
               value="<%=cluster || ''%>"/>
        or date
        <input class="start-date-input" type="text" placeholder="date/time" title="MySQL DATETIME format (i.e. 'YYYY-MM-DD HH:mm:ss')."
               value="<%=start || ''%>"/>
        <button class="btn go-button">Go</button>
    </div>
</div>